<style>
/***--- MEDIA SCREEN  - RESOLUÇÃO - RESPONSIVO ---***/

@media only screen and (max-width: 600px) {
    .templateHeader {
        position: absolute !important;
    }

    .cabecalho-menu,
    .link-cabecalho {
        display: block !important;
    }

    .cabecalho-menu .menu {
        display: none !important;
    }

    .slogan {
        display: none !important
    }

    .solucao {
        margin: 20px 0px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
        display: block;
        border-radius: 15px;
        color: #333;
        letter-spacing: -0.5px;
        background-size: cover;
        padding: 50px 30px;
        height: auto;
    }

    .titulo-header {
        font-size: 24px !important;
        letter-spacing: -0.5px !important;
    }

    .dados {
        display: block !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        gap: 20px !important;
    }

    .dados .dado {
        display: block !important
    }

    .comparacao {
        width: 100% !important;
        margin: 0px !important;
    }

    .comparacao .linha {
        grid-template-columns: 40% 30% 30% !important;
    }

    .comparacao .descricao,
    .comparacao .turck,
    .comparacao .concorrentes {
        padding: 10px 10px !important
    }

    .menu-sensores {
        display: block !important;
    }

    .item-sensores {
        margin-bottom: 15px !important
    }

    .solucao-titulo {
        padding: 20px !important;
    }

    .solucao-imagem {
        width: 100% !important;
        border-radius: 5px !important;
        aspect-ratio: 1 / 1 !important;
    }

    .mcnPageBannerContentContainer .notification p a,
    .notification p,
    .mcnPageBannerContainer p,
    .notification a,
    .mcnPageBannerContainer a {
        font-size: 14px !important;
    }

    .mcnCaptionLeftContentInner,
    .templateFooter img {
        width: 60% !important;
        margin: 0 auto !important;
    }

    .social {
        display: block !important;
    }

    .redesocial strong {
        display: none !important;
    }

    .nomerede,
    .redesocial .nomerede,
    .whatsapp .nomerede,
    .linkedin .nomerede,
    .instagram .nomerede {
        display: none !important;
    }

    .autorizadobanner {
        display: block !important;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .links-rodape {
        display: block !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }

    h1 {
        padding: 20px 10px 10px !important
    }

    .rodape {
        grid-template-columns: 1fr !important;
    }

    .rodape1,
    .rodape2 {
        text-align: center !important;
        font-size: 14px !important;
    }

    .texto-ebook {
        width: 80% !important;
        margin: auto !important;
    }

    .mcnCaptionBottomImageContent img {
        width: 80% !important;
        margin: auto !important;
    }

    .redesocial {
        width: 100% !important;
        margin: 0px 0px !important;
    }

    .aboutUsContainer .mcnTextContent p,
    .aboutUsContainer .mcnTextContent .chamada {
        padding-right: 0px
    }

    h1 {
        margin: 0px !important;
        padding-top: 0px !important;
    }

    .mcnTextContent h4,
    h4 {
        font-size: 18px !important;
        margin: 25px 0px 15px !important;
        line-height: 120% !important;
    }

    .botao,
    a h5 {
        font-size: 24px !important;
        padding: 10px 20px !important;
    }

    .rodape2 {
        text-align: center !important
    }

    .headercontainer .mcnCaptionBlock .mcnTextContent,
    .templateHeader .mcnCaptionBlock .mcnTextContent {
        display: none !important;
    }

    .headercontainer img,
    .templateHeader img {
        align-self: center !important;
        max-width: 75% !important
    }

    .tag-catalogo,
    .texto-catalogo,
    .botao-catalogo {
        font-size: 26px !important
    }
}








.mcnPageBannerContainer {
    width: 70% !important;
    margin: auto !important;
}
}

</style>
